/*IMPORTS*/
@import '~material-design-icons-iconfont/dist/material-design-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp');
@import url('https://fonts.googleapis.com/css?family=Oswald:400');

/*######################################################################*/
/*HTML ELEMENTS*/
:root {
  --dominant-color: 236, 154, 41;

  --main-background-color: rgb(31, 31, 45);
  --main-text-color: hsla(0, 0%, 100%, .8);
  --main-accent-color: rgb(var(--dominant-color));
  --main-accent-color-background: rgba(var(--dominant-color), 0.1);
  --main-accent-color-selection: rgba(var(--dominant-color), 0.05);

  --text-animation-speed1: 10;
  --text-animation-speed2: 20;
  --text-animation-wait: 8;
}

html {
  -webkit-text-size-adjust: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: sans-serif;
  transition: 0.3s;
  -ms-overflow-style: none;
  scrollbar-width: none;
  line-height: normal;

  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  height: 100vh;
  margin: 0 auto;
  background: var(--main-background-color);
}

button {
  border: 0;
  padding: 0;
  cursor: pointer;
  color: inherit;
}

/*######################################################################*/
/*GENERAL CLASSES*/

.block {
  display: block;
}

.none {
  display: none;
}

.visible {
  opacity: 1;
}

.not-visible {
  opacity: 0;
}

.d-flex {
  display: flex;
}

.jy-center {
  justify-content: center;
}

.al-center {
  align-items: center;
}

.h-100 {
  height: 100%;
}

.h-50 {
  height: 50%;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.re-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.move-content-right {
  -webkit-transform: translateX(400px);
  -moz-transform: translateX(400px);
  -ms-transform: translateX(400px);
  -o-transform: translateX(400px);
  transform: translateX(400px);
}

.move-content-left {
  -webkit-transform: translateX(-400px);
  -moz-transform: translateX(-400px);
  -ms-transform: translateX(-400px);
  -o-transform: translateX(-400px);
  transform: translateX(-400px);
}

/*######################################################################*/
/*NOTIFICATIONS*/

.notification-container {
  padding: 10px;
  border-radius: 15px;
  width: 100%;
  height: 60px;
  cursor: pointer;
  background: #22222c;

  .notification-text-container {
    width: 100%;
    background: transparent;
    height: 100%;
    font-weight: 600;
    font-size: 14px;
  }
}

.notification-delete-icon {
  color: var(--main-text-color);
  font-weight: bold;
}

.notification-success {
  $notification-green: #4AAD52;
  border: 1px solid $notification-green;

  &:hover {
    background: rgba(74, 173, 82, 0.1);
  }

  .notification-icon {
    font-size: 35px;
    color: $notification-green;
  }

  .notification-text {
    color: $notification-green;
  }

  .notification-delete-icon {
    color: $notification-green;
  }
}

.notification-failure {
  $notification-red: #A41623;
  border: 1px solid $notification-red;

  &:hover {
    background: rgba(164, 22, 35, 0.1);
  }

  .notification-icon {
    font-size: 35px;
    color: $notification-red;
  }

  .notification-text {
    color: $notification-red;
  }

  .notification-delete-icon {
    color: $notification-red;
  }
}

.notification-warning {
  $notification-orange: #C9512C;
  border: 1px solid $notification-orange;

  &:hover {
    background: rgba(201, 81, 44, 0.1);
  }

  .notification-icon {
    font-size: 35px;
    color: $notification-orange;
  }

  .notification-text {
    color: $notification-orange;
  }

  .notification-delete-icon {
    color: $notification-orange;
  }
}

.notification-info {
  $notification-blue: #058ED9;
  border: 1px solid $notification-blue;

  &:hover {
    background: rgba(5, 142, 217, 0.1);
  }

  .notification-icon {
    font-size: 35px;
    color: $notification-blue;
  }

  .notification-text {
    color: $notification-blue;
  }

  .notification-delete-icon {
    color: $notification-blue;
  }
}

/*######################################################################*/
/*BUTTONS*/
.menu-button {
  font-size: 30px;
  cursor: pointer;

  .material-icons-outlined.menu-button-icon {
    font-size: 45px;
    padding: 0;
    color: var(--main-accent-color);
  }
}

.button {
  width: 100%;
  height: 30px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  border-radius: 15px;

  .disabled {
    cursor: default;
  }
}

.button-green {
  background: rgba(149, 198, 35, 0.10);
  color: #95C623;

  &:hover {
    background: rgba(149, 198, 35, 0.15);
  }

  .disabled {
    background: rgba(149, 198, 35, 0.05);
    color: #5c7a15;
  }
}

.button-blue {
  background: rgba(0, 166, 237, 0.1);
  color: #00A6ED;
  border-radius: 20px;

  &:hover {
    background: rgba(0, 166, 237, 0.15);
  }

  .disabled {
    background: rgba(0, 166, 237, 0.05);
    color: #005980;
  }
}

.button-orange {
  background: rgba(255, 149, 10, 0.1);
  color: #FF950A;

  &:hover {
    background: rgba(255, 149, 10, 0.15);
  }

  .disabled {
    background: rgba(255, 149, 10, 0.05);
    color: #804a03;
  }
}


//.main-content-queue-counter-container {
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  padding: 2px;
//  z-index: 1;
//
//  .queue-counter-text {
//    position: relative;
//    display: inline-block;
//    color: black;
//    padding: 2px 5px;
//    background-color: rgba(255, 255, 255, 0.8);
//    border-radius: 10px;
//    min-width: 37px;
//    text-align: center;
//    z-index: 2;
//
//    &:after {
//      content: '';
//      position: absolute;
//      border-radius: 100%;
//    }
//  }
//
//  .queue-counter-icon {
//    color: rgba(255, 255, 255, 0.8);
//    font-size: 40px;
//    margin-left: -22px;
//    -webkit-mask-image: radial-gradient(circle 50px at 0px, transparent 25px, #000 0);
//  }
//}

/*######################################################################*/
/*MEDIA QUERIES*/
@media screen and (max-width: 450px), (max-height: 450px) {
  body {
    overflow: hidden;
  }
}
