<div class="search-result-img-container d-flex al-center">
  <img src="{{album.images[1].url}}"
       alt="Album Cover" class="search-result-img"/>
</div>
<div class="search-result-text-container d-flex al-center h-100">
  <div>
    <div class="search-result-title">{{album.name}}</div>
    <div class="search-result-artist">{{utils.getArtistString(album.artists)}}</div>
  </div>
</div>
<div class="d-flex jy-center al-center h-100">
  <i (click)="add(album.id)"
     class="material-icons-outlined search-result-icon">{{added ? 'check' : 'add'}}</i>
</div>
