<!--<div *ngIf="(queueStore.$queue | async) as queue">-->

<!--  <app-queue-song *ngFor="let track of queue.tracks; trackBy: trackFunction; let index = index" [inQueue]="false"-->
<!--                  [track]="track" [index]="index" [search]="false"></app-queue-song>-->
<!--  <span *ngIf="queue.tracks.length ===0" style="padding-left: 10px">Currently there are no songs in the queue!</span>-->
<!--</div>-->

<div class="main-content-container re-scroll d-flex">
  <ng-container *ngIf="(queueStore.$queue | async).tracks as queue">

    <ng-container *ngIf="queueViewStatus == true">
      <div id="card-table" class="card-main-container re-scroll" style="position: relative">
        <app-queue-song *ngFor="let track of queue; trackBy: trackFunction; let index = index"
                        [queueView]="queueViewStatus" [track]="track" [index]="index + 1"></app-queue-song>
        <span style="color: hsla(0, 0%, 100%, .8); padding: 15px 20px; position: absolute; top: 0; left: 0"
              *ngIf="queue.length === 0">Currently there are no songs in the queue!</span>
      </div>
    </ng-container>

    <ng-container *ngIf="queueViewStatus == false">
      <div id="list-table" class="list-table">
        <app-queue-song *ngFor="let track of queue; trackBy: trackFunction; let index = index"
                        [queueView]="queueViewStatus" [track]="track" [index]="index"></app-queue-song>
        <span style="color: hsla(0, 0%, 100%, .8)"
              *ngIf="queue.length === 0">Currently there are no songs in the queue!</span>
      </div>
    </ng-container>
  </ng-container>
</div>


<!--<div class="list-element list-element-height d-flex al-center w-100"-->
<!--     style="background: linear-gradient(to right, rgba(201, 187, 164, 0.25) 30%, rgba(255, 255, 255, 0.05) 40%);">-->
<!--  <div class="cover-container d-flex jy-center al-center">-->
<!--    <img-->
<!--      src="https://static.billboard.com/files/media/Taylor-Swift-1989-album-covers-billboard-1000x1000-compressed.jpg"-->
<!--      alt="Album Cover" class="list-cover"/>-->
<!--  </div>-->
<!--  <div class="list-song-text-container d-flex al-center h-100">-->
<!--    <div>-->
<!--      <div class="list-song-song">Shake It Off-->
<!--      </div>-->
<!--      <div class="list-song-artist">Taylor-->
<!--        Swift-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="list-icon-container d-flex jy-center al-center h-100">-->
<!--    <i class="material-icons-outlined vote-icon" style="color: #F72C25">favorite</i>-->
<!--    <div class="list-like-counter d-flex jy-center al-center">-->
<!--      600-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div style="height: 5px"></div>-->

<!--<div class="list-element list-element-height d-flex al-center w-100"-->
<!--     style="background: linear-gradient(to right, rgba(28, 46, 71, 0.25) 30%, rgba(255, 255, 255, 0.05) 40%);">-->
<!--  <div class="cover-container d-flex jy-center al-center">-->
<!--    <img src="https://images-na.ssl-images-amazon.com/images/I/81CFQ5cyltL._SL1500_.jpg"-->
<!--         alt="Album Cover" class="list-cover"/>-->
<!--  </div>-->
<!--  <div class="list-song-text-container d-flex al-center h-100">-->
<!--    <div>-->
<!--      <div class="list-song-song">Midnight-->
<!--      </div>-->
<!--      <div class="list-song-artist">Coldplay-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="list-icon-container d-flex jy-center al-center h-100">-->
<!--    <i class="material-icons-outlined vote-icon" style="color: #F72C25">favorite</i>-->
<!--    <div class="list-like-counter d-flex jy-center al-center">-->
<!--      10-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div style="height: 5px"></div>-->
<!--<div class="list-element list-element-height d-flex al-center w-100">-->
<!--  <div class="cover-container d-flex jy-center al-center">-->
<!--    <img src="https://m.media-amazon.com/images/I/81iHImercQL._SS500_.jpg"-->
<!--         alt="Album Cover" class="list-cover"/>-->
<!--  </div>-->
<!--  <div class="list-song-text-container d-flex al-center h-100">-->
<!--    <div>-->
<!--      <div class="list-song-song">Follow You</div>-->
<!--      <div class="list-song-artist">Imagine Dragons</div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="list-icon-container d-flex jy-center al-center h-100">-->
<!--    <i class="material-icons-outlined vote-icon">favorite_border</i>-->
<!--    <div class="list-like-counter d-flex jy-center al-center">-->
<!--      0-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div style="height: 5px"></div>-->
<!--<div class="list-element list-element-height d-flex al-center w-100">-->
<!--  <div class="cover-container d-flex jy-center al-center">-->
<!--    <img src="https://static.wikia.nocookie.net/the-bangtan-boys/images/2/27/Butter_Cover.jpeg"-->
<!--         alt="Album Cover" class="list-cover"/>-->
<!--  </div>-->
<!--  <div class="list-song-text-container d-flex al-center h-100">-->
<!--    <div>-->
<!--      <div class="list-song-song">Butter</div>-->
<!--      <div class="list-song-artist">BTS</div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="list-icon-container d-flex jy-center al-center h-100">-->
<!--    <i class="material-icons-outlined vote-icon">favorite_border</i>-->
<!--    <div class="list-like-counter d-flex jy-center al-center">-->
<!--      0-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div style="height: 5px"></div>-->
<!--<div class="list-element list-element-height d-flex al-center w-100">-->
<!--  <div class="cover-container d-flex jy-center al-center">-->
<!--    <img src="https://d24jnm9llkb1ub.cloudfront.net/icpn/075679797988/075679797988-cover-zoom.jpg"-->
<!--         alt="Album Cover" class="list-cover"/>-->
<!--  </div>-->
<!--  <div class="list-song-text-container d-flex al-center h-100">-->
<!--    <div>-->
<!--      <div class="list-song-song">Fly Away</div>-->
<!--      <div class="list-song-artist">Tones and I</div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="list-icon-container d-flex jy-center al-center h-100">-->
<!--    <i class="material-icons-outlined vote-icon">favorite_border</i>-->
<!--    <div class="list-like-counter d-flex jy-center al-center">-->
<!--      0-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div style="height: 5px"></div>-->
<!--<div class="list-element list-element-height d-flex al-center w-100">-->
<!--  <div class="cover-container d-flex jy-center al-center">-->
<!--    <img src="https://media.ultratop.be/cover/big/flo_rida-my_house_a.jpg"-->
<!--         alt="Album Cover" class="list-cover"/>-->
<!--  </div>-->
<!--  <div class="list-song-text-container d-flex al-center h-100">-->
<!--    <div>-->
<!--      <div class="list-song-song">I Don't Like It, I Love It (feat. Robin Thicke &-->
<!--        Verdine-->
<!--        White)-->
<!--      </div>-->
<!--      <div class="list-song-artist">Flo Rida, Robin Thicke, Verdine White</div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="list-icon-container d-flex jy-center al-center h-100">-->
<!--    <i class="material-icons-outlined vote-icon">favorite_border</i>-->
<!--    <div class="list-like-counter d-flex jy-center al-center">-->
<!--      0-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div style="height: 5px"></div>-->
<!--<div class="list-element list-element-height d-flex al-center w-100">-->
<!--  <div class="cover-container d-flex jy-center al-center">-->
<!--    <img src="https://i.scdn.co/image/ab67616d00001e022ba3737a524aec8fc7c48d38"-->
<!--         alt="Album Cover" class="list-cover"/>-->
<!--  </div>-->
<!--  <div class="list-song-text-container d-flex al-center h-100">-->
<!--    <div>-->
<!--      <div class="list-song-song">Hale-Bopp</div>-->
<!--      <div class="list-song-artist">Seeed</div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="list-icon-container d-flex jy-center al-center h-100">-->
<!--    <i class="material-icons-outlined vote-icon">favorite_border</i>-->
<!--    <div class="list-like-counter d-flex jy-center al-center">-->
<!--      0-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div style="height: 5px"></div>-->
<!--<div class="list-element list-element-height d-flex al-center w-100">-->
<!--  <div class="cover-container d-flex jy-center al-center">-->
<!--    <img src="https://i.scdn.co/image/ab67616d00001e02aff4aef671b2510be7c115b3"-->
<!--         alt="Album Cover" class="list-cover"/>-->
<!--  </div>-->
<!--  <div class="list-song-text-container d-flex al-center h-100">-->
<!--    <div>-->
<!--      <div class="list-song-song">Piano Man</div>-->
<!--      <div class="list-song-artist">Billy Joel</div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="list-icon-container d-flex jy-center al-center h-100">-->
<!--    <i class="material-icons-outlined vote-icon">favorite_border</i>-->
<!--    <div class="list-like-counter d-flex jy-center al-center">-->
<!--      0-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div style="height: 5px"></div>-->
<!--<div class="list-element list-element-height d-flex al-center w-100">-->
<!--  <div class="cover-container d-flex jy-center al-center">-->
<!--    <img src="https://i.scdn.co/image/ab67616d00001e02ee74127a92398367d9dc2f07"-->
<!--         alt="Album Cover" class="list-cover"/>-->
<!--  </div>-->
<!--  <div class="list-song-text-container d-flex al-center h-100">-->
<!--    <div>-->
<!--      <div class="list-song-song">Candy</div>-->
<!--      <div class="list-song-artist">Robbie Williams</div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="list-icon-container d-flex jy-center al-center h-100">-->
<!--    <i class="material-icons-outlined vote-icon">favorite_border</i>-->
<!--    <div class="list-like-counter d-flex jy-center al-center">-->
<!--      0-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div style="height: 5px"></div>-->
<!--<div class="list-element list-element-height d-flex al-center w-100">-->
<!--  <div class="cover-container d-flex jy-center al-center">-->
<!--    <img src="https://i.scdn.co/image/ab67616d00001e025941693ecd1a0d58dc92c1b4"-->
<!--         alt="Album Cover" class="list-cover"/>-->
<!--  </div>-->
<!--  <div class="list-song-text-container d-flex al-center h-100">-->
<!--    <div>-->
<!--      <div class="list-song-song">Links Rechts</div>-->
<!--      <div class="list-song-artist">Snollebollekes</div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="list-icon-container d-flex jy-center al-center h-100">-->
<!--    <i class="material-icons-outlined vote-icon">favorite_border</i>-->
<!--    <div class="list-like-counter d-flex jy-center al-center">-->
<!--      0-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div style="height: 5px"></div>-->
<!--<div class="list-element list-element-height d-flex al-center w-100">-->
<!--  <div class="cover-container d-flex jy-center al-center">-->
<!--    <img src="https://i.scdn.co/image/ab67616d00001e0298d1d60d2cdafbb41ee8fa9c"-->
<!--         alt="Album Cover" class="list-cover"/>-->
<!--  </div>-->
<!--  <div class="list-song-text-container d-flex al-center h-100">-->
<!--    <div>-->
<!--      <div class="list-song-song">I Am The Musicman - Single Mix</div>-->
<!--      <div class="list-song-artist">DJ Ötzi Junior</div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="list-icon-container d-flex jy-center al-center h-100">-->
<!--    <i class="material-icons-outlined vote-icon">favorite_border</i>-->
<!--    <div class="list-like-counter d-flex jy-center al-center">-->
<!--      0-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!--<div class="card-container h-100">-->
<!--  <div class="card h-100 w-100" style="position: relative">-->

<!--    <div class="d-flex al-center jy-center"-->
<!--         style="position: absolute; height: 30px; min-width: 30px; border-radius: 10px; background: rgba(0, 0, 0, 0.3); top: 10px; right: 10px; padding: 5px">-->
<!--      <div style="font-size: 14px; font-weight: bold;">1200</div>-->
<!--    </div>-->

<!--    <div class="card-number-container w-100">-->
<!--      <div>-->
<!--        <div class="card-number">01</div>-->
<!--        <div class="card-number-accent"></div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="card-content-container d-flex al-center w-100">-->
<!--      <div>-->
<!--        <div class="card-song-name">Boomerang</div>-->
<!--        <div class="card-song-artist">Imagine Dragons-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="card-image-container d-flex jy-center al-center">-->
<!--      <img src="https://images-na.ssl-images-amazon.com/images/I/71SSQ3hSgEL._SL1024_.jpg"-->
<!--           class="card-img">-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="card-container h-100">-->
<!--  <div class="card h-100 w-100" style="position: relative">-->

<!--    <div class="d-flex al-center jy-center"-->
<!--         style="position: absolute; height: 30px; min-width: 30px; border-radius: 10px; background: rgba(0, 0, 0, 0.3); top: 10px; right: 10px; padding: 5px">-->
<!--      <div style="font-size: 14px; font-weight: bold;">600</div>-->
<!--    </div>-->

<!--    <div class="card-number-container w-100">-->
<!--      <div>-->
<!--        <div class="card-number">02</div>-->
<!--        <div class="card-number-accent"></div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="card-content-container d-flex al-center w-100">-->
<!--      <div>-->
<!--        <div class="card-song-name">Shake It Off</div>-->
<!--        <div class="card-song-artist">Taylor Swift</div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="card-image-container d-flex jy-center al-center">-->
<!--      <img-->
<!--        src="https://static.billboard.com/files/media/Taylor-Swift-1989-album-covers-billboard-1000x1000-compressed.jpg"-->
<!--        class="card-img">-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="card-container h-100">-->
<!--  <div class="card h-100 w-100" style="position: relative">-->

<!--    <div class="d-flex al-center jy-center"-->
<!--         style="position: absolute; height: 30px; min-width: 30px; border-radius: 10px; background: rgba(0, 0, 0, 0.3); top: 10px; right: 10px; padding: 5px">-->
<!--      <div style="font-size: 14px; font-weight: bold;">10</div>-->
<!--    </div>-->

<!--    <div class="card-number-container w-100">-->
<!--      <div>-->
<!--        <div class="card-number">03</div>-->
<!--        <div class="card-number-accent"></div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="card-content-container d-flex al-center w-100">-->
<!--      <div>-->
<!--        <div class="card-song-name">Midnight</div>-->
<!--        <div class="card-song-artist">Coldplay</div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="card-image-container d-flex jy-center al-center">-->
<!--      <img src="https://images-na.ssl-images-amazon.com/images/I/81CFQ5cyltL._SL1500_.jpg"-->
<!--           class="card-img">-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="card-container h-100">-->
<!--  <div class="card h-100 w-100" style="position: relative">-->

<!--    <div class="d-flex al-center jy-center"-->
<!--         style="position: absolute; height: 30px; min-width: 30px; border-radius: 10px; background: rgba(0, 0, 0, 0.3); top: 10px; right: 10px; padding: 5px">-->
<!--      <div style="font-size: 14px; font-weight: bold;">0</div>-->
<!--    </div>-->

<!--    <div class="card-number-container w-100">-->
<!--      <div>-->
<!--        <div class="card-number">04</div>-->
<!--        <div class="card-number-accent"></div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="card-content-container d-flex al-center w-100">-->
<!--      <div>-->
<!--        <div class="card-song-name">Follow You</div>-->
<!--        <div class="card-song-artist">Imagine Dragons</div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="card-image-container d-flex jy-center al-center">-->
<!--      <img src="https://m.media-amazon.com/images/I/81iHImercQL._SS500_.jpg"-->
<!--           class="card-img">-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="card-container h-100">-->
<!--  <div class="card h-100 w-100" style="position: relative">-->

<!--    <div class="d-flex al-center jy-center"-->
<!--         style="position: absolute; height: 30px; min-width: 30px; border-radius: 10px; background: rgba(0, 0, 0, 0.3); top: 10px; right: 10px; padding: 5px">-->
<!--      <div style="font-size: 14px; font-weight: bold;">0</div>-->
<!--    </div>-->

<!--    <div class="card-number-container w-100">-->
<!--      <div>-->
<!--        <div class="card-number">05</div>-->
<!--        <div class="card-number-accent"></div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="card-content-container d-flex al-center w-100">-->
<!--      <div>-->
<!--        <div class="card-song-name">Butter</div>-->
<!--        <div class="card-song-artist">BTS</div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="card-image-container d-flex jy-center al-center">-->
<!--      <img src="https://static.wikia.nocookie.net/the-bangtan-boys/images/2/27/Butter_Cover.jpeg"-->
<!--           class="card-img">-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="card-container h-100">-->
<!--  <div class="card h-100 w-100" style="position: relative">-->

<!--    <div class="d-flex al-center jy-center"-->
<!--         style="position: absolute; height: 30px; min-width: 30px; border-radius: 10px; background: rgba(0, 0, 0, 0.3); top: 10px; right: 10px; padding: 5px">-->
<!--      <div style="font-size: 14px; font-weight: bold;">0</div>-->
<!--    </div>-->

<!--    <div class="card-number-container w-100">-->
<!--      <div>-->
<!--        <div class="card-number">06</div>-->
<!--        <div class="card-number-accent"></div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="card-content-container d-flex al-center w-100">-->
<!--      <div>-->
<!--        <div class="card-song-name">Fly Away</div>-->
<!--        <div class="card-song-artist">Tones and I</div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="card-image-container d-flex jy-center al-center">-->
<!--      <img src="https://d24jnm9llkb1ub.cloudfront.net/icpn/075679797988/075679797988-cover-zoom.jpg"-->
<!--           class="card-img">-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="card-container h-100">-->
<!--  <div class="card h-100 w-100" style="position: relative">-->

<!--    <div class="d-flex al-center jy-center"-->
<!--         style="position: absolute; height: 30px; min-width: 30px; border-radius: 10px; background: rgba(0, 0, 0, 0.3); top: 10px; right: 10px; padding: 5px">-->
<!--      <div style="font-size: 14px; font-weight: bold;">0</div>-->
<!--    </div>-->

<!--    <div class="card-number-container w-100">-->
<!--      <div>-->
<!--        <div class="card-number">07</div>-->
<!--        <div class="card-number-accent"></div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="card-content-container d-flex al-center w-100">-->
<!--      <div>-->
<!--        <div class="card-song-name">I Don't Like It, I Love It (feat. Robin Thicke &-->
<!--          Verdine-->
<!--          White).-->
<!--        </div>-->
<!--        <div class="card-song-artist">Flo Rida, Robin Thicke, Verdine White</div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="card-image-container d-flex jy-center al-center">-->
<!--      <img src="https://media.ultratop.be/cover/big/flo_rida-my_house_a.jpg"-->
<!--           class="card-img">-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
