$orangeColor: #9D75CB;

.label {
  //background: linear-gradient(90deg, #ffe9b6 0%, #ffb70f 100%);
  background: $orangeColor;
  border-radius: 0 0 0.5rem 0;
  height: 1.5rem;
  overflow: hidden;
  position: absolute;
  //margin-top: -0.8em;
  //margin-left: -0.5em;
  width: 5rem;
  align-items: center;
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
  color: black;
  display: flex;
  font: 100 0.7em/1;
  justify-content: center;
  z-index: 1;
}
