.playlist-cover {
  height: 64px;
  width: 64px;
}

.vote-btn {
  background: radial-gradient(#f1f1f1, #dedede);
}

.op-60 {
  opacity: 0.6;
}

.btn-group-imitate {
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
}
