<div class="card-container h-100">
  <div class="card h-100 w-100" style="position: relative">

    <div class="d-flex al-center jy-center"
         style="position: absolute; height: 30px; min-width: 30px; border-radius: 10px; background: rgba(0, 0, 0, 0.3); top: 10px; right: 10px; padding: 5px">
      <div style="font-size: 14px; font-weight: bold;">{{track.votes}}</div>
    </div>

    <div class="card-number-container w-100">
      <div>
        <div class="card-number">{{index}}</div>
        <div class="card-number-accent"></div>
      </div>
    </div>
    <div class="card-content-container d-flex al-center w-100">
      <div>
        <div class="card-song-name">{{track.spotifyTrackFull.name}}</div>
        <div class="card-song-artist">{{utils.getArtistString(track.spotifyTrackFull.artists)}}</div>
      </div>
    </div>
    <div class="card-image-container d-flex jy-center al-center">
      <img src="{{track.spotifyTrackFull.album.images[1].url}}" alt="Album Cover"
           class="card-img" crossOrigin="anonymous">
    </div>
  </div>
</div>
