/*TITLE*/
.main {
  width: 100vw;
  height: 35px; /* Height of the footer */
  background: #282828;
  box-shadow: 0 0 5px 0px #000;
  z-index: 100;
}

.title-text {
  color: lightgray;
  white-space: nowrap;
  font-size: 1.5em;
}

.search-input-box {
  background: transparent;
  border: 0;
  outline: 0;
  color: var(--main-accent-color);
  font-size: 20px;
  padding: 20px 10px 20px 10px;
}

.search-input-box:hover {
  display: block;
}

.search-input-box::placeholder {
  color: var(--main-accent-color);
  opacity: 1;
}

.search-input-container {
  background: rgba(255, 255, 255, 0.05);
  float: left;
  border-radius: 10px;
  width: 40%;
  cursor: default;
}

span.search-input-icon {
  padding-left: 20px;
  color: var(--main-accent-color);
  font-size: 32px;
}

span.search-clear-button {
  padding-right: 20px;
  color: var(--main-accent-color);
  font-size: 32px;
  cursor: pointer;
}

.jamlabel {
  padding: 10px;
  font-weight: bold;
  font-size: 25px;
  cursor: default;
  color: var(--main-accent-color);
}

#menu-button-icon {
  opacity: 1;
}

/*######################################################################*/
/*MEDIA QUERIES*/
@media screen and (max-width: 1200px) {
  .search-input-container {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .main {
    height: 20px;
  }

  .title-text {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 768px), (max-height: 768px) {
  .jamlabel {
    display: none;
  }

  .search-input-container {
    width: 100%;
  }

  .jamsession-header {
    padding-right: 10px;
  }
}

@media screen and (max-width: 992px), (max-height: 450px) {
  .jamlabel {
    font-size: 20px;
  }
}
