.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px; /* Height of the footer */
  background:#282828;
  box-shadow: 0 0 5px 0px #000;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px; /* Height of the footer */
  background:#282828;
  box-shadow: 0 0 5px 0px #000;
}

.main-div {
  margin-top: 100px;
  height: 100%;
}

.welcome-text {
  margin-top: 30px;
}

.row {
  padding: 0;
  margin: 0;
}
.jam-label-input {
  height: 75px;
  width: 250px;
  text-align: center;
  font-size: 3em;
  border-radius: 0px;
  border-color: #282828;
  border-width: 2px;
  background-color: lightyellow;
  font-family: "Walter Turncoat", cursive;
}

.header-text {
  color: lightgray;
  font-size: 3em;
}

.footer-text {
  color: lightgray;
  font-size: 0.8em;
  text-align: right;
  position: relative;
  padding-top: 5px;
}

.footer-text-a {
  color: lightgray;
  text-align: right;
  font-style: inherit;
}


.vertical-center {
  margin-top: auto;
  margin-bottom: auto;
}

.btn {
  background-color: #282828;
  border: none;
  color: lightgray;
}

.gopher {
  height: 100px;
  width: 100px;
  background-color: lightgray;
  -webkit-mask: url("../../../assets/gopher.svg") no-repeat center;
  mask: url("../../../assets/gopher.svg") no-repeat center;
}

.version-text {
  color: lightgray;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
  text-align: right;
  margin-right: 16px;

}

.corner-left {
  position: absolute;
  left: 0;
  width: 100px;
  float: left;
  top: 0
}

.github-icon {
  height: 20px;
  width: 20px;
}

.center {
  position: absolute;
  left: 15%;
  width: 70%;
  bottom: 0
}

.corner-right {
  position: absolute;
  right: 0px;
  width: 90px;
  top: 0
}


@media (max-width: 768px) {
  .corner-left {
    position: absolute;
    left: 0;
    width: 50px;
    float: left;
    top: 0
  }

  .github-icon {
    width: 20px;
    height: 20px;
  }

  .hide {
    visibility: hidden;
  }

  .gopher {
    height: 50px;
    width: 50px;
  }

  .header {
    height: 50px; /* Height of the footer */
  }

  .main-div {
    margin-top: 50px;
    height: 100%;
  }

  .header-text {
    font-size: 1.5em;
    padding-top: 20px;
  }

  .footer-text {
    font-size: 0.6em;
    padding-top: 0px;
    margin: 0;
  }

  .footer {
    height: 35px; /* Height of the footer */
  }

  .version-text {
    font-size: 0.8em;
    text-align: right;
    margin-right: 2px;

  }

  .corner-right {
    position: absolute;
    right: 0px;
    width: 70px;
  }








}
