<div class="row">
  <div class="col text-center">
    <h1>Welcome to JamFactory</h1>
  </div>
</div>

<hr>

<div class="row">
  <div class="col text-center text-success h4">Join an exiting JamSession or login to Spotify to create your own</div>
</div>

<div class="row my-4">
  <div class="col-md-2 offset-md-4 col-6">
    <input type="text" class="form-control" id="labelInput" name="labelInput"
           placeholder="JamLabel" maxlength="5" [formControl]="labelField">
  </div>
  <div class="col-md-2 col-6">
    <button class="btn btn-primary btn-block" (click)="join()">Join</button>
  </div>
</div>

<div class="row my-4">
  <div class="col-md-4 offset-md-4">
    <button class="btn btn-primary btn-block" *ngIf="!userAuthorized" (click)="login()">
      Login to Spotify
    </button>
    <button class="btn btn-primary btn-block" *ngIf="userAuthorized" (click)="create()">
      Create new JamSession
    </button>
  </div>
</div>
<hr>
