#playback {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px; /* Height of the footer */
  background:#282828;
}

.album-cover {
  width: 100px;
  height: 100px;
  float: right;
}

.playback-text {
  float: right;
  position: absolute;
  margin-top: 10px;
  left: 110px;
}

.title-text {
  color: lightgray;
  font-size: 1em;
}

.artist-text {
  color: gray;
  font-size: 0.8em;
}

.progress {
  margin-top: 6px;
  height: 5px;
  border-radius: 5px;
}

.progress-text {
  color: lightgray;
  font-size: 0.8em;
  position: relative;
  top: -5px;
}

.progress-cell {
  margin: 0px;
  padding: 5px;
}

.progress-div {
  width: 50%;
}

.btn-circle {
  width: 50px;
  height: 50px;
  padding: 6px 0px;
  border-radius: 50px;
  font-size: 1em;
  text-align: center;
  border-color: lightgray;
  color: lightgray;
}

.center-table {
  margin-top: auto;
}

.mobile-progress {
  visibility: hidden;
  width: 100%;
  position: absolute;
  top: -5px;
  padding: 0;
  margin: 0;
}


@media (max-width: 768px) {
  #playback {
    height: 80px;
  }

  .playback-text {
    left: 90px;
  }

  .album-cover {
    width: 80px;
    height: 80px;
    float: right;
  }

  .title-text {
    color: lightgray;
    font-size: 0.8em;
  }

  .artist-text {
    color: gray;
    font-size: 0.6em;
  }

  .progress-div {
    visibility: hidden;
  }

  .mobile-progress {
    visibility: visible;
  }

  .progress {
    margin-top: 0px;
    height: 5px;
    border-radius: 0px;
  }

  .btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 30px;
    font-size: 0.6em;
    text-align: center;
    border-color: lightgray;
    color: lightgray;
  }
}
