<div id="sidebar-container" class="sidebar-container">
  <div class="sidebar-header d-flex al-center">
    <div id="menu-button-mob" class="menu-button menu-button-mob d-flex jy-center al-center">
      <i id="menu-button-icon-mob" class="material-icons-outlined menu-button-icon">close</i>
    </div>
    <div id="sidebar-leave" class="sidebar-header-leave">
      <i class="material-icons-outlined sidebar-leave-button" (click)="leave()">logout</i>
    </div>
  </div>
  <div class="sidebar-content">
    <div class="sidebar-divider"></div>

    <div class="sidebar-section">
      <div class="sidebar-section-header">Your host</div>
      <div class="sidebar-section-content d-flex al-center">
        <div class="sidebar-section-host-container d-flex al-center">
          <img src="https://www.w3schools.com/howto/img_avatar.png" class="sidebar-host-img">
          <div class="sidebar-host-divider"></div>
          <div class="sidebar-host-name">Pallemann</div>
        </div>

        <div id="sidebar-jamlabel-container"
             class="sidebar-section-label-container d-flex al-center">
          <div class="sidebar-section-label-icon-container d-flex jy-center al-center">
            <i class="material-icons-outlined sidebar-section-label-icon">content_copy</i>
          </div>
          <div class="sidebar-host-divider"></div>
          <div id="sidebar-jamlabel-text" class="sidebar-host-name">NEMHS</div>
        </div>
      </div>
    </div>

    <div class="sidebar-divider"></div>

    <div class="sidebar-section">
      <div class="sidebar-section-header">Change view</div>

      <div style="padding: 10px;" class="d-flex jy-center al-center w-100 h-100">
        <div id="list-view" class="view-button d-flex jy-center al-center list-view-button active">
          <i class="material-icons-outlined view-button-icon">table_rows</i>
          <div class="card-view-button-text">List-View</div>
        </div>

        <div class="view-button-divider"></div>

        <div id="card-view" class="view-button d-flex jy-center al-center card-view-button">
          <i class="material-icons-outlined view-button-icon">view_week</i>
          <div class="card-view-button-text">Card-View</div>
        </div>
      </div>
    </div>

    <div class="sidebar-divider"></div>

    <div class="sidebar-section">
      <div class="sidebar-section-header">Playback Device</div>

      <div class="sidebar-section-content">

        <div class="d-flex al-center"
             style="padding: 8px; background: rgba(236, 154, 41, 0.1); border-radius: 20px; float: left; margin-right: auto; width: 100%;">
          <div class="sidebar-section-label-icon-container d-flex jy-center al-center">
            <i class="material-icons sidebar-device-icon">speaker_group</i>
          </div>
          <div class="sidebar-host-divider"></div>
          <div class="sidebar-host-name">Host Computer</div>
        </div>

        <div class="d-flex al-center w-100" style="height: 10px;"></div>

        <div class="d-flex al-center jy-center" style="width: 100%; height: 50px">
          <details>
            <summary>Select Playback Device...</summary>
            <ul>
              <li>Device 1</li>
              <li>Device 2</li>
              <li>Device 3</li>
            </ul>
          </details>
        </div>
      </div>
    </div>

    <div class="sidebar-divider"></div>

    <div class="sidebar-section">
      <div class="sidebar-section-header">Notifications</div>

      <div class="sidebar-section-content">

        <div class="d-flex al-center sidebar-notification-container sidebar-notification-success">
          <div class="d-flex al-center notification-left-container h-100">
            <!--                                    <div class="d-flex al-center jy-center notification-icon-container notification-icon-success">-->
            <i class="material-icons-outlined notification-icon"
               style="color: #4AAD52; font-size: 35px">check_circle</i>
            <!--                                    </div>-->
          </div>

          <div class="d-flex al-center jy-center notification-middle-container h-100">
            <div class="d-flex al-center jy-center notification-text-container">
              <div class="notification-text-success">This is a success notification.</div>
            </div>
          </div>

          <div class="d-flex al-center jy-center notification-right-container h-100">
            <div class="d-flex al-center jy-center notification-delete-container">
              <i class="material-icons-outlined notification-delete-icon"
                 style="color: #4AAD52; font-weight: bold;">close</i>
            </div>
          </div>
        </div>

        <div class="sidebar-notification-divider"></div>

        <div class="d-flex al-center jy-center sidebar-notification-container sidebar-notification-info">
          <div class="d-flex al-center notification-left-container h-100">
            <!--                                    <div class="d-flex al-center jy-center notification-icon-container notification-icon-info">-->
            <i class="material-icons-outlined notification-icon"
               style="color: #058ED9; font-size: 35px">info</i>
            <!--                                    </div>-->
          </div>

          <div class="d-flex al-center jy-center notification-middle-container h-100">
            <div class="d-flex al-center jy-center notification-text-container">
              <div class="notification-text-info">This is an info notification.</div>
            </div>
          </div>

          <div class="d-flex al-center jy-center notification-right-container h-100">
            <div class="d-flex al-center jy-center notification-delete-container">
              <i class="material-icons-outlined notification-delete-icon"
                 style="color: #058ED9; font-weight: bold;">close</i>
            </div>
          </div>
        </div>

        <div class="sidebar-notification-divider"></div>

        <div class="d-flex al-center jy-center sidebar-notification-container sidebar-notification-warning">
          <div class="d-flex al-center notification-left-container h-100">
            <!--                                    <div class="d-flex al-center jy-center notification-icon-container notification-icon-warning">-->
            <i class="material-icons-outlined notification-icon"
               style="color: #C9512C; font-size: 35px">warning</i>
            <!--                                    </div>-->
          </div>

          <div class="d-flex al-center jy-center notification-middle-container h-100">
            <div class="d-flex al-center jy-center notification-text-container">
              <div class="notification-text-warning">This is a warning notification.</div>
            </div>
          </div>

          <div class="d-flex al-center jy-center notification-right-container h-100">
            <div class="d-flex al-center jy-center notification-delete-container">
              <i class="material-icons-outlined notification-delete-icon"
                 style="color: #C9512C; font-weight: bold;">close</i>
            </div>
          </div>
        </div>

        <div class="sidebar-notification-divider"></div>

        <div class="d-flex al-center jy-center sidebar-notification-container sidebar-notification-failure">
          <div class="d-flex al-center notification-left-container h-100">
            <!--                                    <div class="d-flex al-center jy-center notification-icon-container notification-icon-failure">-->
            <i class="material-icons-outlined notification-icon"
               style="color: #A41623; font-size: 35px">warning</i>
            <!--                                    </div>-->
          </div>

          <div class="d-flex al-center jy-center notification-middle-container h-100">
            <div class="d-flex al-center jy-center notification-text-container">
              <div class="notification-text-failure">This is an error notification.</div>
            </div>
          </div>

          <div class="d-flex al-center jy-center notification-right-container h-100">
            <div class="d-flex al-center jy-center notification-delete-container">
              <i class="material-icons-outlined notification-delete-icon"
                 style="color: #A41623; font-weight: bold;">close</i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="sidebar-divider"></div>

    <div class="sidebar-section">
      <div class="sidebar-section-header">Options</div>
    </div>

    <div class="sidebar-divider"></div>
  </div>
</div>
