/*SIDEBAR*/
.sidebar-container {
  position: relative;
  height: 100%;
}

.sidebar-header {
  padding: 10px;
  height: 9%;
  color: var(--main-text-color);
}

.material-icons-outlined.sidebar-leave-button {
  font-size: 35px;
}

.menu-button-mob {
  float: left;
  margin-right: auto;
}

.sidebar-header-leave {
  padding: 10px;
  cursor: pointer;
}

.sidebar-content {
  height: 85%;
  max-height: 85%;
}

.sidebar-divider {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-section {
  width: 100%;
  padding: 15px;
  cursor: default;
}

.sidebar-section-header {
  font-size: 18px;
  font-weight: bold;
  color: #808c9f;
  cursor: default;

  .sidebar-notification-counter {
    display: inline-block;
    padding: 5px;
    background: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    font-weight: bold;
    border-radius: 7px;
    height: 27px;
    min-width: 27px;
    text-align: center;
  }
}

.sidebar-subsection-header {
  font-size: 14px;
  color: #808c9f;
  cursor: default;
}

.sidebar-section-content {
  padding: 10px;
}

.sidebar-subsection-content {
  padding-top: 5px;
  padding-bottom: 5px;
}

.sidebar-section-host-container {
  padding: 8px;
  background: var(--main-accent-color-background);
  border-radius: 20px;
  float: left;
  margin-right: auto;
  width: 45%;
}

.sidebar-host-img {
  height: 30px;
  width: 30px;
  border-radius: 30px;
  float: left;
}

.sidebar-host-divider {
  width: 10px;
}

.sidebar-host-name {
  color: var(--main-accent-color);
  font-weight: bold;
  font-size: 18px;
  width: 100%;
  text-align: center;
}

.sidebar-section-label-container {
  padding: 8px;
  background: var(--main-accent-color-background);
  border-radius: 20px;
  width: 45%;
  cursor: pointer;
}

.sidebar-section-label-icon-container {
  height: 30px;
  width: 30px;
  border-radius: 30px;
  float: left;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
}

.material-icons-outlined.sidebar-section-label-icon {
  font-size: 20px;
  color: var(--main-text-color);
}

.material-icons.sidebar-device-icon {
  font-size: 22px;
  color: var(--main-text-color);
}

.sidebar-device-selection {
  width: 100%;
  height: 50px;

  details {
    position: relative;
    width: 100%;
  }

  details[open] {
    z-index: 1;
  }

  summary {
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--main-accent-color-background);
    list-style: none;
    color: var(--main-accent-color);
  }

  summary::-webkit-details-marker {
    display: none;
  }

  details[open] summary:before {
    content: '';
    display: block;
    width: 100vw;
    height: 100vh;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
  }

  summary:after {
    content: '';
    display: inline-block;
    position: absolute;
    right: 10px;
    width: .5rem;
    height: .5rem;
    border-bottom: 1px solid currentColor;
    border-left: 1px solid currentColor;
    border-bottom-left-radius: 2px;
    transform: rotate(45deg);
    transform-origin: center center;
    transition: transform ease-in-out 100ms;
  }

  summary:focus {
    outline: none;
  }

  details[open] summary:after {
    transform: rotate(-45deg);
  }

  ul {
    width: 100%;
    background-color: #372f2c;
    position: absolute;
    top: calc(100% + .5rem);
    left: 0;
    padding: 0.5rem;
    margin: 0;
    box-sizing: border-box;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
  }

  li {
    margin: 0;
    padding: 0.5rem;
    color: var(--main-accent-color);
    list-style: none;
    border-radius: 5px;
  }
}

.sidebar-footer {
  height: 5%;
  max-height: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--main-text-color);

  .github-container {
    width: 150px;
    text-align: center;

    & > a {
      margin-left: 5px;
      text-decoration: none;
      color: inherit;
    }
  }

  .impressum {
    width: 150px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    color: inherit;
  }
}

.device-item {
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}

.active {
  background: rgba(255, 255, 255, 0.1);
}

.sidebar-options-input {
  border: 0;
  outline: 0;
  background: rgba(255, 255, 255, 0.05);
  color: var(--main-accent-color);
  border-radius: 10px;
  height: 20px;
  width: 100%;
  font-size: 14px;
  padding: 20px 10px 20px 10px;
}

.notification-left-container {
  width: 15%;
}

.notification-middle-container {
  width: 75%;
}

.notification-right-container {
  width: 10%;
}

.notification-delete-container {
  width: 30px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  border-radius: 10px;

  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}

.sidebar-notification-divider {
  width: 100%;
  height: 5px;
}

.sidebar-section-notifications {
  padding: 10px;
  overflow: auto;
}

.sidebar-section-notify {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

.custom-colortheme-container {
  width: 100px;
  height: 50px;
  padding: 15px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
  margin-right: 10px;
  cursor: pointer;

  .colortheme-selector {
    border-radius: 10px;
  }
}

.notification-new {
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 9px;
  background: red;
  margin: 0 0 12px 15px;
  border: 1px solid #2a2a34;
}

.options-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 0;

  .options-description {
    font-size: 20px;
    color: #808c9f;
    font-weight: 600;
  }

  .options-button {
    position: relative;
    height: 40px;
    width: 75px;
    border: 2px solid #444249;
    border-radius: 20px;
    transition: border-color .6s ease-out;

    .toggle-button {
      position: absolute;
      top: 4px;
      width: 28px;
      bottom: 4px;
      right: 39px;
      background-color: #444249;
      border-radius: 19px;
      cursor: pointer;
      transition: all .3s .1s, width .1s, top .1s, bottom .1s;
    }

    .toggle-text-off {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 6px;
      line-height: 36px;
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      user-select: none;
      cursor: pointer;
      color: #808c9f;
      z-index: 1;
    }

    .toggle-text-on {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      line-height: 36px;
      text-align: center;
      font-size: 18px;
      font-weight: normal;
      cursor: pointer;
      user-select: none;
      color: rgba(0, 0, 0, 0);
      z-index: 1;
    }
  }

  .toggle-on {
    border-color: var(--main-accent-color);
    transition: all .5s .15s ease-out;

    .toggle-button {
      top: 3px;
      width: 65px;
      bottom: 3px;
      right: 3px;
      border-radius: 23px;
      background-color: var(--main-accent-color);
      transition: all .2s .1s, right .1s;
    }

    .toggle-text-off {
      color: rgba(0, 0, 0, 0);
      z-index: 1;
    }

    .toggle-text-on {
      color: var(--main-background-color);
      transition: color .3s .15s;
      z-index: 1;
    }
  }
}

/*######################################################################*/
/*VIEW CHANGE*/
.view-button {
  width: 50%;
  cursor: pointer;
  background: transparent;
  height: 50px;
  border-radius: 15px;

  * {
    color: var(--main-accent-color);
  }
}

.material-icons-outlined.view-button-icon {
  font-size: 30px;
}

.card-view-button-text {
  font-size: 18px;
  font-weight: bold;
  padding-left: 10px;
}

.view-button-divider {
  border: 1px solid transparent;
  height: 50px;
}

.active {
  background: var(--main-accent-color-selection);
}

.sidebar-menu-toggle-container {
  padding: 15px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
  margin-right: 10px;
  cursor: pointer;
}

.material-icons.sidebar-menu-button {
  color: var(--main-text-color);
}

.sidebar-back-button {
  cursor: pointer;

  .material-icons.menu-button {
    color: var(--main-text-color);
  }
}

.sidebar-notification {
  display: flex;
  flex-flow: column;
  height: 100%;
}

/*######################################################################*/
/*MEDIA QUERIES*/
@media screen and (max-width: 576px), (max-height: 576px) {
  .material-icons-outlined.view-button-icon {
    font-size: 24px;
  }
}
