<div id="sidebar-container" class="sidebar-container">
  <div class="sidebar-header d-flex al-center">
    <div class="menu-button menu-button-mob d-flex jy-center al-center" (click)="toggleMenu()">
      <i class="material-icons-outlined menu-button-icon">close</i>
    </div>
    <div id="sidebar-leave" class="sidebar-header-leave" (click)="leave()">
      <i class="material-icons-outlined sidebar-leave-button">logout</i>
    </div>
  </div>

  <div class="sidebar-content">

    <ng-container *ngIf="viewStore.view.menuSub === ''">
      <div class="sidebar-divider"></div>

      <div class="sidebar-section">
        <div class="sidebar-section-header">Your host</div>
        <div class="sidebar-section-content d-flex al-center">
          <div class="sidebar-section-host-container d-flex al-center">
            <img src="https://www.w3schools.com/howto/img_avatar.png" class="sidebar-host-img">
            <div class="sidebar-host-divider"></div>
            <div class="sidebar-host-name">{{getUserName((membersStore.$currentHost | async)?.display_name)}}</div>
          </div>

          <div id="sidebar-jamlabel-container"
               class="sidebar-section-label-container d-flex al-center">
            <div class="sidebar-section-label-icon-container d-flex jy-center al-center">
              <i class="material-icons-outlined sidebar-section-label-icon">{{copyIcon}}</i>
            </div>
            <div class="sidebar-host-divider"></div>
            <div id="sidebar-jamlabel-text" class="sidebar-host-name"
                 (click)="copyToClipboard()">{{(jamStore.$jamSession | async)?.label}}</div>
          </div>
        </div>
      </div>

      <div class="sidebar-divider"></div>

      <div class="sidebar-section">
        <div class="sidebar-section-header">Change view</div>

        <div style="padding: 10px;" class="d-flex jy-center al-center w-100 h-100">
          <div id="list-view" class="view-button d-flex jy-center al-center list-view-button"
               [ngClass]="queueViewStatus ? '' : 'active'" (click)="switchQueueView(false)">
            <i class="material-icons-outlined view-button-icon" style="position: relative;">table_rows</i>
            <!--          <div class="main-content-queue-counter-container">-->
            <!--            <div class="queue-counter-text">4</div>-->
            <!--            <i class="material-icons-outlined queue-counter-icon">table_rows</i>-->
            <!--          </div>-->
            <div class="card-view-button-text">List-View</div>
          </div>

          <div class="view-button-divider"></div>

          <div id="card-view" class="view-button d-flex jy-center al-center card-view-button"
               [ngClass]="queueViewStatus ? 'active' : ''" (click)="switchQueueView(true)">
            <i class="material-icons-outlined view-button-icon">view_week</i>
            <div class="card-view-button-text">Card-View</div>
          </div>
        </div>
      </div>

      <div class="sidebar-divider"></div>

      <ng-container *ngIf="this.permissions.hasPermission(this.permissions.Host)">
        <div class="sidebar-section">
          <div class="sidebar-section-header">Playback Device</div>

          <div class="sidebar-section-content">

            <div class="sidebar-device-selection d-flex al-center">
              <details id="deviceSelectDropdown" class="d-flex al-center jy-center">
                <summary class="d-flex al-center">
                  <div class="sidebar-section-label-icon-container d-flex jy-center al-center">
                    <i class="material-icons sidebar-device-icon">speaker_group</i>
                  </div>
                  <div class="sidebar-host-divider"></div>
                  <div
                    class="sidebar-host-name">{{playback?.playback?.device.name === '' ? 'No playback device found' : playback?.playback?.device.name}}</div>
                </summary>
                <ul>
                  <li class="device-item" [ngClass]="device.id === playback?.device_id ? 'active' : ''"
                      *ngFor="let device of devices?.devices" (click)="selectDevice(device.id)">{{device.name}}</li>
                </ul>
              </details>
            </div>

            <div class="d-flex al-center w-100" style="height: 10px;"></div>
          </div>
        </div>
      </ng-container>

      <div class="sidebar-divider"></div>

      <div class="sidebar-section d-flex al-center jy-center">
        <div class="sidebar-menu-toggle-container d-flex jy-center al-center" title="Notifications"
             (click)="toggleNotification()">
          <div class="notification-new" *ngIf="notificationService.notifications.length !== 0"></div>
          <i class="material-icons menu-button sidebar-menu-button">notifications</i>
        </div>
        <div class="sidebar-menu-toggle-container d-flex jy-center al-center" title="Settings"
             (click)="toggleSettings()">
          <i class="material-icons menu-button sidebar-menu-button">settings</i>
        </div>
        <div class="sidebar-menu-toggle-container d-flex jy-center al-center" title="Customization"
             (click)="toggleCustom()">
          <i class="material-icons menu-button sidebar-menu-button">brush</i>
        </div>
        <div class="sidebar-menu-toggle-container d-flex jy-center al-center" title="Customization"
                   (click)="toggleMember()">
        <i class="material-icons menu-button sidebar-menu-button">group</i>
      </div>

      </div>
    </ng-container>

    <app-sidebar-notification class="sidebar-notification"
                              *ngIf="viewStore.view.menuSub === 'notification'"></app-sidebar-notification>

    <app-sidebar-options *ngIf="viewStore.view.menuSub === 'settings'"></app-sidebar-options>

    <app-sidebar-customization *ngIf="viewStore.view.menuSub === 'custom'"></app-sidebar-customization>

    <app-sidebar-members *ngIf="viewStore.view.menuSub === 'member'"></app-sidebar-members>

  </div>
</div>
