/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding-top: 4px;
  padding-left: 16px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


.search-input {
  margin-top: 9px;
  margin-left: 10px;
  border-radius: 15px;
  height: 30px;

}

.search-div{
  height: 44px;
}

.user-text {
  color: white;
  white-space:nowrap;
  font-size: 1.2em;
  font-style: inherit;
  float: right;
  padding-right: 16px;
  padding-top: 9px;
}

.search-text {
  color: lightgray;
  white-space:nowrap;
  font-size: 1.0em;
  padding-left: 16px;
  padding-top: 10px;
}


hr{
  padding: 0px;
  margin: 0px;
}

.search-result {


}
