.main {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
}

.main-div {
  width: 100%;
}

.notifications-anker {
  position: fixed;
  top: 100px;
  right: 0;
  margin: 0.5em;
  z-index: 1200;
}

